@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Client Auth</h1>
    <p>We are doing client Auth stuff</p>
</div>



<form method="get" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">
    <button type="submit" class="btn btn-primary">Sign Up/In</button>
</form>